
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MSFJS Web Interface</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MSFJS Web Interface">
    <meta name="author" content="Adam Brady">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <style>

      #noprocesses {

        color: white;
        margin-bottom: 25px;
        text-align: center;

      }

      .breadcrumb {

        text-align: center;

      }

    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed">
     <div class="navbar-inner">
       <div class="container">
         <a class="brand" href="../">MSFJS</a>
         <div class="nav-collapse" id="main-menu">
          <ul class="nav" id="main-menu-left">
            <li><a id="swatch-link" href="/">Home</a></li>
            <li><a id="swatch-link" href="/exploits">Exploits</a></li>
            <li class="active"><a id="swatch-link" href="/sessions">Sessions</a></li>
            <li><a id="swatch-link" href="/payloads">Payloads</a></li>
            <li><a id="swatch-link" href="/launch">  New Exploit </a></li>
          </ul>
         </div>
       </div>
     </div>
   </div>

   <div class="container">

        <!-- Processes
        ================================================== -->
        <section id="processes">
          <div class="page-header">
            <h1>Session <%=session%> - Processes</h1>
          </div>

          <% if(processes.length>0) { %>

            <!-- Headings & Paragraph Copy -->
            <div class="row">

                <ul class="breadcrumb">
                  <li><a href="/sessions/<%=session%>">Session</a> <span class="divider">/</span></li>
                  <li class="active"><a href="/sessions/<%=session%>/processes">Processes</a> <span class="divider">/</span></li>
                  <li><a href="/sessions/<%=session%>/networking">Networking</a></li>
                </ul>

                  <table class="table table-bordered table-striped table-hover">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>PID</th>
                        <th>PPID</th>
                        <th>File</th>
                        <th>User</th>
                        <th>Path</th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>

                      <% for(var i = 0; i < processes.length; i++) { %>

                        <tr>
                          <td> <%=i%> </td>
                          <td> <%=processes[i].pid%> <% if(pid == processes[i].pid) { %> <span class="label label-info">Current PID</span> <% } %> </td>
                          <td> <%=processes[i].ppid%> </td>
                          <td> <%=processes[i].file||""%> </td>
                          <td> <%=processes[i].user||""%> </td>
                          <td> <%=processes[i].path||""%> </td>

                          <% if(pid != processes[i].pid) { %>

                            <td> <a class="btn btn-primary" href="/sessions/<%=session%>/processes/ <%=processes[i].pid%>/migrate">Migrate</a> </td>

                          <% } else { %>

                            <td></td>

                          <% } %>

                            <td> <a class="btn btn-danger"  href="/sessions/<%=session%>/processes/<%=processes[i].pid%>/kill">Kill</a> </td>

                        <tr>

                      <% } %>

                    </tbody>
                  </table>
            </div>

          <% } else { %>

            <div id="noprocesses">
              Something must have gone wrong... ps didn't return any processes.
            </div>

          <% } %>

        </section>

    </div>

    <!-- Footer
    ================================================== -->
    <footer class="footer">

      <center>
        <a href="http://github.com/SomeoneWeird/msfjsweb/">MSFJS on GitHub</a>
      </center>

    </footer>
  </body>
</html>
